<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Book list</title>
	</head>
	<body>
		<h1>Book list</h1>
		<table>
			<tr>
				<td><h4>Title</h4></td>
				<td><h4>Author</h4></td>
				<td><h4>Year</h4></td>
				<td><h4>ISBN</h4></td>
				<td><h4>Price</h4></td>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}">Title</td>
				<td th:text="${book.author}">Author</td>
				<td th:text="${book.year}">Year</td>
				<td th:text="${book.isbn}">Isbn</td>
				<td th:text="${book.price}">Price</td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a th:href="@{/editbook/{id}(id=${book.id})}">Edit</a></td>
			</tr>
		</table>
		<a href="/addbook">Add book</a>
	</body>
</html>